*{margin: 0px;padding: 0px;}
body{background: #DCDCDC;}
/*头部*/
header{width: 95%;height: 120px;margin: auto;background: #fff;border-radius: 10px 10px;}
.logo{width: 30%;height: 100px;float: left;margin-left: 10px;margin-top: 10px;}
.jiyu{width: 50%;height: 100px;float: right;margin-top: 10px;}

/*文章部分*/
#main{width: 95%;height: 600px;margin:auto;margin-top: 20px;}

aside{width: 18%;height: 600px;float: left;background: #FFF;border-radius: 10px 10px;}
#as_ul{list-style: none;width: 85%;margin: auto;margin-top:50px;}
#as_ul h3{line-height: 28px;font-size: 20px;font-family: "华文新魏";}
.key{background: url(D:/FED/look/img/search.png) no-repeat 3px 3px;width: 90%;line-height: 24px;border:1px solid #999;border-radius: 2px 2px;margin-top: 10px;padding-left:25px;margin-bottom: 25px;}
#newLog{list-style: none;width: 85%;margin-top: 10px;margin-bottom: 20px;}
#newLog li{background: url(D:/FED/look/img/bullet.png) no-repeat 2px 3px;width: 95%;line-height: 24px;padding-left: 20px;font-size: 16px;font-family:"华文行楷";}
.tag{font-size: 20px;font-family:"华文行楷";color: #444;padding:5px 10px;margin-bottom: 20px;}
#newType{list-style: none;width: 85%;margin-top: 10px;margin-bottom: 20px;}
#newType li{background: url(D:/FED/look/img/bullet.png) no-repeat 2px 3px;width: 95%;line-height: 24px;padding-left: 20px;font-size: 16px;font-family:"华文行楷";}

article{width:80%;height: 600px;float: right;background: #FFF;border-radius: 10px 10px;}
#ar_ul{width: 100%;height:40px;background: #333333;border-radius: 10px 10px 0px 0px;}
#ar_ul li{list-style: none;width:20%;float: left;line-height:45px;text-align: center;font: 14px;font-family:"华文行楷";color: #fff;}

/*照片部分*/
#photo{width: 100%;height: 560px;background: url(D:/FED/look/img/bag.jpg);}
.polaroids{width:90%;height: 520px;list-style: none;margin: auto;padding-top: 90px;}
.polaroids li{width:100px;height:100px;position:relative;float: left; border: 5px solid #fff;margin-left: 60px;margin-top: 16px;}
.polaroids li img{width:100px;height:100px;}
.polaroids li:nth{}
